body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-image: linear-gradient(90deg, #7AE5F5, #35D6ED) ;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }

  h1 {
    background: -webkit-linear-gradient(45deg, white, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  }
  
  .jumbotron {
    text-align: left;
    background-image: linear-gradient(to right, skyblue, rgb(0, 2, 94));
    color: black;
    border-radius: 0;
    border-bottom: 3px solid black;
    padding: 0%;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }